@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(178, 204, 231);
}
.container .body-container{
    height: 80%;
    width: 60%;
    background-color: rgb(11, 21, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 5px rgb(222, 225, 228);
}
.container .body-container .h1-text{
    height: 50px;
    width: 60%; 
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.container .body-container .h1-text p{
    color: white;
}
.container .body-container .h1-text p{
    text-align: center;
    font-size: 30px;

}

.container .body-container .complaint-container{
    height: 80%;
    width: 97%;
    background-color:rgb(89, 137, 185);
    overflow-y: scroll;
    scrollbar-width: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.container .body-container .complaint-container::-webkit-scrollbar {
width: 5px;
}
.container .body-container .complaint-container::-webkit-scrollbar-thumb {
background-color: rgb(48, 44, 109);
border-radius: 6px;
box-shadow: 0px 0px 3px 1px rgb(48, 44, 109);
}
.container .body-container .complaint-container::-webkit-scrollbar-track {
background-color: white;
}
.container .body-container .complaint-container a{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin: 20px 0px;
}
.container .body-container .complaint-container a .complaintss{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px;
    box-shadow: 0px 0px 5px 2px rgb(11, 21, 73);
}
.container .body-container .complaint-container a .complaintss:hover{
    box-shadow: 0px 0px 5px 2px white;
}
.container .body-container .complaint-container .complaintss p{
    color: white;
}